.main-container {
    width: 100%;
    height: 100%;
    position: relative;
}

#infor-container {
    width: 50%;
    height: 50%;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    position: absolute;
    top: 60px;
    left: 60px;
}

#sub-container {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#sub-container>p {
    margin-left: 10px;
}

#sub-container>p>a {
    color: red;
}

#sub-container>input {
    margin-top: 30px;
    border: 1px solid black;
    text-align: center;
    color: black;
    width: 300px;
}

#sub-container>input::placeholder {
    text-align: center;
}

#update-btn {
    align-items: center;
    appearance: none;
    background-color: rgb(7, 164, 7);
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
    margin-bottom: 10px;
}

#update-btn:focus {
    box-shadow: rgb(7, 164, 7) 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

#update-btn:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

#update-btn:active {
    box-shadow: rgb(7, 164, 7) 0 3px 7px inset;
    transform: translateY(2px);
}

.box1,
.box2 {
    width: 34%;
    height: 18%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    bottom: 80px;
    left: 100px;
    gap: 10px;
    cursor: pointer;
}

.box1:hover,
.box2:hover {
    background-color: rgb(144, 221, 27);
    color: white;
}


.box1>div {
    width: 25%;
    height: 100%;
    background-image: url('../../../images/student-icon.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.box2>div {
    width: 25%;
    height: 100%;
    background-image: url('../../../images/class-icon.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.box1 {
    border-left: 7px solid #FEC000;
}

.box2 {
    left: 600px;
    border-left: 7px solid #F7A097;
}