#main-background {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #eb3349, #f45c43); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#student-dashboard {
    width: 95%;
    height: 90%;
    position: relative;
    border-radius: 50px;
}

#workplace {
    width: 83%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background: #F3F5F7;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
}

#content {
    width: 100%;
    height: 10%;
    text-align: center;
    padding-top: 15px;
    border-bottom: 1px solid rgb(211, 211, 211);
}

#nav {
    width: 17%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background: white;
    border-top-left-radius: 45%;
    border-bottom-left-radius: 50px;
}

#head {
    height: 19.5%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

#mini-title {
    margin-right: 100px;
    font-family: "Teko", sans-serif;
    font-size: 30px;
}

#logo {
    background: url('../../../images/student-dash-board.gif');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;

}

#status {
    height: 50px;
    width: 70%;
    text-align: center;
    transition: 0.5s;
    border-radius: 30px;
}

#status>a {
    color: rgb(105, 105, 105);
    transition: 0s;
    font-size: 14px;
}

#status>#icon1 {
    width: 0px;
    height: 0px;
}

#status:hover {
    background: #E8DCDB;
    border-left: 8px solid rgb(228, 89, 2);
}

#status:hover>a {
    color: #7A3934;
    font-weight: bold;
}

#tag {
    line-height: 50px;
    margin: 0;
    cursor: pointer;
}