#main-workplace {
    height: 80%;
    width: 100%;
    margin-top: 0px;
    padding: 20px;
    display: flex;
}

#input {
    height: 110%;
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #31c381;
    border-radius: 50px;
    color: white;
    border-bottom-right-radius: 40%;
    transition: 0.5s;
}

#input:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 0px;
}

.input-form {
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.label {
    width: 200px;
    height: 30px;
}

.label.email {
    width: 50px;
}

.id-data {
    width: 180px;
    height: 30px;
    text-align: center;
    /* background-color: yellowgreen; */
}

.name-data {
    width: 180px;
    height: 30px;
    text-align: center;
    /* background-color: yellowgreen; */
}

.phone-data {
    width: 180px;
    height: 30px;
    text-align: center;
}

.email-data {
    width: 250px;
    height: 30px;
    padding-left: 95px;
}

.birth-data {
    width: 300px;
    height: 30px;
    padding-left: 105px;
}

#arrow {
    height: 40px;
    width: 60px;
    background: url(../../../images/arrow.gif);
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 30px;
}

.input-box {
    border: 1px solid white;
    border-radius: 20px;
    text-align: center;
    margin: 0;
    margin-top: 5px;
    margin-left: 30px;
    width: 300px;
    color: rgb(244, 244, 244);
}

.input-box:focus {
    outline: none;
    box-shadow: none;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    background: white;
    color: black;
}

.input-box:focus::placeholder {
    color: black;
}

.input-box::placeholder {
    color: white;
    opacity: 0.5;
}

.name-input {
    margin-left: 40px;
}

.phone-input {
    margin-left: 40px;
}

.email-input {
    margin-left: 120px;
}

.birth-input {
    margin-right: 110px;
}

#btn-box {
    display: flex;
    transition: 10s;
    height: 80px;
    margin-top: 0px;
    align-items: center;
    justify-content: center;
}

#btn-box:hover>#student-submit {
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

#student-submit {
    /* margin-top: 40px; */
    width: 200px;
    height: 40px;
    border: none;
    background: rgb(227, 40, 11);
    color: white;
    border: none;
    transition: 1s;
    border-radius: 15px;
}

#student-submit:hover {
    /* transform: rotate(10deg); */
    border-radius: 0;
    cursor: pointer;
}

.side {
    height: 40px;
    width: 40px;
    /* background: url(../../images/round_arrow.png); */
    background-size: contain;
    /* margin: 40px 0 0; */
    transition: 5s;
}

#input2 {
    height: 75%;
    width: 30%;
    background: #35908b;
    margin-left: 50px;
    border-radius: 50px;
    /* border-bottom-left-radius: 30%; */
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#input2:hover {
    border-radius: 0px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

#input2>p {
    font-size: 15px;
    color: white;
    margin-top: 20px;
}

#input2>input {
    width: 250px;
    height: 40px;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    text-align: center;
}

#input2>input:focus {
    outline: none;
    box-shadow: none;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    background: white;
    color: black;
}

#label1 {
    margin-top: 30px;
    margin-left: -40px;
    margin-bottom: 10px;
}

#label2 {
    margin-left: -40px;
    margin-top: 2px;
    margin-bottom: 10px;
}

#account-submit {
    width: 200px;
    height: 40px;
    border: none;
    background: rgb(227, 11, 105);
    color: white;
    border: none;
    transition: 1s;
    border-radius: 15px;
    margin-top: 30px;
    cursor: pointer;
}

#account-submit:hover {
    border-radius: 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.birth {
    padding-left: 110px;
}

.address {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.input-xa,
.input-huyen,
.input-tinh {
    border-color: white;
    margin-left: 10px;
    width: 120px;
}

.input-xa:focus,
.input-huyen:focus,
.input-tinh:focus {
    outline: none;
}

.input-xa::placeholder,
.input-huyen::placeholder,
.input-tinh::placeholder {
    color: white;
    text-align: center;
}

.xa, .huyen, .tinh {
    padding-bottom: 10px;
}

.input-form.email {
    justify-content: space-evenly;
}